body{
	background:#F5F5F5;
}
.wallet-header{
	margin-bottom: 0.2rem;
}
.miwallet-top{
	height:3.42rem;
	background: url(../img/bj2@2x.png) no-repeat center #ffffff;
    background-size:100% 100%;
}
.miwallet-top .Headportrait{
	width:1.42rem;
	height:1.42rem;
	border-radius: 100%;
	margin:0 auto;
	background: url(../img/tx@2x.png) no-repeat center #fcfcfc;
	background-size:contain;
}
.miwallet-top .person_W{
	font-size:0.29rem;
	color:#FFFFFF;
	display: block;
	text-align: center;
	padding-top:0.2rem;
    letter-spacing:0.02rem;
}
.miwallet-top .ewallet{
	font-size:0.26rem;
	color:#a8d0fe;
	display: block;
	text-align: center;
	padding-top:0.17rem;
    letter-spacing:0.02rem;
}
.wallelt-fun{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack:justify;
    -moz-justify-content:space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    height: 1.36rem;
    color:#087cfd;
    font-size: 0.31rem;
    background-color: #ffffff ;
}
.wallelt-fun .Recharge{
	width:49%;
	text-align: center;
	border-right:0.01rem solid #969696;
}
.wallelt-fun .Put{
	width:49%;
	text-align: center;
}
.wallelt-nav dl{
	width:100%;
	background: #fff;
	height:1.4rem;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
.wallelt-nav dl dt{
	width:13%;
}
.wallelt-nav dl dt a{
	display: block;
}
.wallelt-nav dl dt a.found{
	width: 0.48rem;
	height:0.35rem;
	margin-left:0.28rem;
}
.wallelt-nav dl dt a.found img{
	width:100%;
	height:100%;
}
.wallelt-nav dl dt a.import{
	width: 0.48rem;
	height:0.35rem;
	margin-left:0.28rem;
}
.wallelt-nav dl dt a.import img{
	width:100%;
	height:100%;
}
.wallelt-nav dl dt a.modify{
	width: 0.44rem;
	height:0.43rem;
	margin-left:0.28rem;
}
.wallelt-nav dl dt a.modify img{
	width:100%;
	height:100%;
}
.wallelt-nav dl dt a.help{
	width:0.48rem;
	height:0.48rem;
	margin-left:0.28rem;
}
.wallelt-nav dl dt a.help img{
	width:100%;
	height:100%;
}
.wallelt-nav dl dt a.Opinion{
	width: 0.47rem;
	height:0.48rem;
	margin-left:0.28rem;
}
.wallelt-nav dl dt a.Opinion img{
	width:100%;
	height:100%;
}
.wallelt-nav dl dt a.about{
	width: 0.48rem;
	height:0.48rem;
	margin-left:0.28rem;
}
.wallelt-nav dl dt a.about img{
	width:100%;
	height:100%;
}
.wallelt-nav dl dd{
	flex:1;
	font-size:0.26rem;
	color:#333333;
	padding-top:0.61rem;
	padding-bottom:0.50rem;
	border-bottom:0.02rem solid #f1f1f1;
}
.wallelt-nav dl dd.lat{
	border-bottom: none;
}
.quit{
	height:0.98rem;
	background-color:#fff;
	margin:0.4rem 0 0.46rem 0;
	text-align: center;
}
.quit .quit_out{
	display:block;
	font-size:0.29rem;
	color:#087cfd;
	line-height:0.98rem;
}
