* {
	margin:0;
	padding:0;
}
ul,ol,li {
	list-style: none;
}
img {
	border:none;
}
html,body {
	height: 100%;
	width:100%;
}
body {
	position: relative;
	font-size: 0.22rem;
}
a {
	text-decoration: none;
	font-size: 0.22rem;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.hide {
	visibility: hidden;
}
iframe {
	width:100%;
	height: 100%;
	border:none;
}
/*头部*/
.head-bar {
	position:absolute;
	left:0;
	top:0;
	right:0;
	height: 0.9rem;
	background: #087cfd;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 0.3rem;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
.head-bar h1.title {
	color:#fff;
	font-size: 34px;
	position: absolute;
	left:9%;
	right:9%;
	text-align: center;
	font-weight: normal;
	width:auto;
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}
.head-bar .back {
	width:0.18rem;
	height: 0.36rem;
	background: url(../img/back.png) no-repeat;
	background-size:contain;
	display: block;
}
/*底部tab*/
nav.tab-bar {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: #fff;
	height: 0.96rem;
	padding-top: 0.14rem;
	border-top:2px #d8d8d8 solid;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav.tab-bar a{
	-webkit-box-flex: 1.0;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    display: block;
    width:25%;
    color:#999;
}
nav.tab-bar a.active {
	color:#0a7bf9;
}
nav.tab-bar a span {
	display: block;
	width:100%;
	text-align: center;
}
nav.tab-bar a span.icon {
	height: 0.4rem;
	margin-bottom: 0.08rem;
}
nav.tab-bar a span.icon.assets {
	background: url(../img/ic1@2x.png) no-repeat center;
	background-size:contain;
}
nav.tab-bar a.active span.icon.assets {
	background: url(../img/ic1@2x-active.png) no-repeat center;
	background-size:contain;
}
nav.tab-bar a span.icon.trade {
	background: url(../img/ic2@2x.png) no-repeat center;
	background-size:contain;
}
nav.tab-bar a.active span.icon.trade {
	background: url(../img/ic2@2x-active.png) no-repeat center;
	background-size:contain;
}
nav.tab-bar a span.icon.trust {
	background: url(../img/ic3@2x.png) no-repeat center;
	background-size:contain;
}
nav.tab-bar a.active span.icon.trust {
	background: url(../img/ic3@2x-active.png) no-repeat center;
	background-size:contain;
}
nav.tab-bar a span.icon.my {
	background: url(../img/ic4@2x.png) no-repeat center;
	background-size:contain;
}
nav.tab-bar a.active span.icon.my {
	background: url(../img/ic4@2x-active.png) no-repeat center;
	background-size:contain;
}
/*页面主体*/
nav.tab-bar~.content {
	position: absolute;
	top:0.9rem;
	bottom:0.96rem;
	left:0;
	right:0;
	overflow: auto;
}
#content .tab-box {
	width:100%;
	height: 100%;
}